.icon-wrapper {
  padding: 8px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.icon {
  cursor: auto;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon:not(:last-child) {
  margin: 0 5px 0 0;
}

.icon--is-big {
  width: 40px;
  height: 40px;
}

.icon--archive-white {
  cursor: pointer;
  background-image: url('./assets/archive-box.svg');
}

.icon--delete-white {
  background-image: url('./assets/delete-bin.svg');
}

.icon--archive {
  cursor: pointer;
  background-image: url('./assets/archive-box.svg');
}

.icon--unarchive {
  cursor: pointer;
  background-image: url('./assets/unarchive.svg');
}

.icon--delete {
  cursor: pointer;
  background-image: url('./assets/delete-bin.svg');
}

.icon--edit {
  cursor: pointer;
  background-image: url('./assets/pen.svg');
}

.icon--task {
  background-image: url('./assets/cart.svg');
}

.icon--idea {
  background-image: url('./assets/idea.svg');
}

.icon--random.thought {
  background-image: url('./assets/human-head.svg');
}

.icon--quote {
  background-image: url('./assets/quote.svg');
}
